{%  extends 'base.html' %}

{% block data %}
    [API]
    <br>
    <br>
    Get a specific ticker with the current price   --> /current
    <br>
    Get a list of all tickers with current prices  --> /current/string:ticker
    <br>
    Get all history of specific ticker             --> /history/string:ticker
    <br>
    Get a history for specific period              --> /history/string:ticker/date_a_date_b
    <br>
    Get a history for specific period (hours ago)  --> /history/string:ticker/integer:hours

{% endblock %}
