{%  extends 'base.html' %}

{% block data %}
    <form name="data" method="POST">
        Enter currency for check balance:
        <input name="currency">
        <br>
        <br>
        <input type="submit" value="Submit">
        <input type="reset" value="Clear">
     </form>

    <br>
    {{ currency }} {{ balance }}

{% endblock %}
