<!DOCTYPE html>
<html>

 <head>
  <meta charset="UTF-8">
     <title> [CRAWLER BINANCE.COM] </title>

     <link rel="shortcut_icon" href="https://png.icons8.com/material/50/000000/bitcoin-cryptocurrency.png">

     <style>
         body {
             font: 12pt "Bookman Old Style";
             margin: 0;
         }
         #header {
             font-size: 20px;
             background: #000;
             padding: 10px;
             color: #888;
         }
         #sidebar {
             float: left;
             border: 10px solid #000;
             width: 22%;
             padding: 10px;
             margin: 10px 10px 20px 5px;
         }
         #content {
             border: 10px solid #000;
             padding: 10px;
             margin: 10px 5px 20px 25%;
         }
         #footer {
             background: #000;
             padding: 10px;
             color: #888;
             clear: left;
         }
   </style>
  </head>

 <body>
  <div id="header">
      <p><b>[CRAWLER BINANCE.COM]</b></p>
      <form name="login" method="GET" action='/login'>
            <input type="submit" value="LOGIN">
      </form>

      <form name="logout" method="GET" action='/logout'>
            <input type="submit" value="LOGOUT">
      </form>
  </div>

  <div id="sidebar">
      <form name="balance" method="GET" action='/balance'>
        <p><input type="submit" value="BALANCE"></p>
      </form>

      <form name="order" method="GET" action='/order'>
        <p><input type="submit" value="ORDER"></p>
      </form>

      <form name="dash" method="GET" action='/dash'>
        <p><input type="submit" value="DASHBOARD"></p>
      </form>

      <form name="api" method="GET" action='/api'>
        <p><input type="submit" value="API"></p>
      </form>

      <form name="binance" method="GET" action='https://www.binance.com'>
        <p><input type="submit" value="BINANCE.COM"></p>
      </form>
  </div>

  <div id="content">
      {%  block data %}
      {%  endblock %}
  </div>

  <div id="footer">
      Project:       Crawler Binance.com
      <br>
      Version:       1.14.5 | Python 3.7
      <br>
      Author:        Stanislav Fux | https://gitlab.com/SalemBongo
      <br>
      Copyright:     (c) Stanislav Fux, 2018
      <br>
  </div>
 </body>

</html>