{%  extends 'base.html' %}

{% block data %}
    <form name="text" method="POST">

        Username:
        <input type="text" name="username">
        <br>

        Password:
        <input type="text" name="password">
        <br>
        <br>

        <input type="submit" value="Login">
        <input type="reset" value="Clear">

    </form>

    <br>
    {{ msg }}

{% endblock %}