{%  extends 'base.html' %}

{% block data %}
    <form name="text" method="POST">

        Ticker:
        <input name="ticker" type="text">
        <br>

        Currency to sell:
        <input name="cur_to_sell" type="text">
        <br>

        Currency to buy:
        <input name="cur_to_buy" type="text">
        <br>

        Price limit:
        <input name="limit_price" type="number" step="0.001" min="0.001">
        <br>

        Quantity:
        <input name="quantity" type="number" step="0.001" min="0.001">
        <br>
        <br>

        <input type="submit" value="Submit">
        <input type="reset" value="Clear">

    </form>

    {{ order }}
{% endblock %}
